.bg-input {
    background-color: #f2f5ff;
}

.img-container {
    margin-left: 50px;
    margin-right: 50px;
}

.text-padding{
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 500px;
    font-size: 50px;
}
  