.custom_form {
    background-color: #F2F5FF;
    border-radius: 10px;
}

.custom_form_group {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.custom_button {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 30px;
    text-align: center;
}
  